.heading{
    width: 100%;
    font-size: 20px;
    margin: 0px;
}
.note{
   font-size:15px ; 
   color: black;
}
body{
    background-size: cover;
}
.div_speed{
    float: left;
}
.div_img{
    width:200px;
    border-radius: 100px;

}
#speed,#volume{
    font-size: 23px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.play_btn{
    width: 130px;
    font-size: 25px;
}
canvas{
    border:5px solid rgb(247, 241, 241);
    border-radius: 20px;
}